.input-group-text{
    cursor: pointer;
    color: white;
    background: seagreen;
    border:1px solid seagreen;
    
}
.form-control{
    border:1px solid seagreen;
    border-left: 0px !important;
}