<div class="container m-45">
    <div class="row mx-12">
        <div class="col-md-12 col-lg-12">
            <form #frm="ngForm" class="needs-validation" (ngSubmit)="submit()">
                <div class="row">
                    <div class="col-sm-4">
                        <label for="name" class="form-label">ألاسم الثلاثي:</label>
                        <input type="text" class="form-control" name="name" id="name" placeholder="" [(ngModel)]="Employee.name" required />
                    </div>
                    <div class="col-sm-2 offset-6" dir="ltr">
                        <label for="device_id" class="form-label">Device ID:</label>
                        <input type="text" class="form-control" name="device_id" id="device_id" placeholder="" [(ngModel)]="Employee.id" disabled />
                    </div>
                </div>

                <div class="row my-4" >
                    <div class="col-md-4">
                        <label for="department" class="form-label">ألقسم:</label>
                        <select class="form-select" id="department" name="department" (change)="onDepartmentChange($event);" [(ngModel)]="Employee.department"  required>
                            <option *ngFor="let item of this.fingureprint.fingureprintoffice.Departments;let i=index;"  [value]="item.name" >
                                {{item.name}}
                            </option>
                        </select>
                    </div>
                    <div class="col-md-4 offset-4">
                        <label for="units" class="form-label">الشعبة أو الوحدة:</label>
                        <select class="form-select" id="units"   [(ngModel)]="Employee.unit" name="units" required>
                            <option *ngFor="let item of this.SelectedDepartment.units;let i=index;"  [value]="item.name"  >
                                {{item.name}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <label for="notes" class="form-label">ألملاحظات:</label>
                        <input type="text" class="form-control" name="notes" id="notes" placeholder="" [(ngModel)]="Employee.notes" required />
                    </div>
                    <div class="col-sm-4 offset-2">
                        <div class="icheck-greensea  mt-6  align-middle">
                            <input class="box" type="checkbox" [checked]="Employee.allowance==1" name="allowance"
                                [(ngModel)]="Employee.allowance"  id="allowance">
                            <label for="allowance" class="px-5"> السماح بالانصراف الامبكر</label>
                        </div>
                    </div>
                </div>
                <hr class="my-6" />

                <button class="w-100 btn btn-primary btn-lg" type="submit">
                    <i class="fa fa-save fa-lg px-2"></i>
                    حفظ المعلومات
                </button>
            </form>
        </div>
    </div>
</div>