
<div class="card m-45 border-0 mx-7">
    <div class="card-body">
        <form #frm="ngForm" class="needs-validation"  (ngSubmit)="submit(frm);">
            <div class="row border  py-5 mx-0">
                <div class="col-md-4">
                    <app-datepicker
                        [input]="period.start"
                        [name]="'startDate'" 
                        [label]="'من تاريخ'" 
                        (dateChange)="period.start=$event">
                    </app-datepicker>
                </div>
                <div class="col-md-4 form-group">
                    <app-datepicker
                        [input]="period.end"
                        [name]="'startDate'" 
                        [label]="'ألى تاريخ'" 
                        (dateChange)="period.end=$event">
                    </app-datepicker>
                </div>
                <div class="col-md-4">
                    <button type="submit" class="btn btn-success btn-block w-100 mt-5"><i class="fa fa-file-alt px-2" aria-hidden="true"></i>  تقرير ألزمنيات</button>
                </div>
            </div>
            <div class="row border  py-2 mx-0   border mt-5  bg-light" >
                <div class="col-md-4 py-1">
                    <h5 class="d-inline" >{{Employee.name}}</h5>
                </div>
                <div class="col-md-2 offset-1 p-1">
                    <h5 class="d-inline mt-3" >{{EmpolyeeTotalTime}}</h5>
                </div>
                <div class="col-md-4 offset-1">
                    <button type="button" class="btn btn-success btn-block w-100" (click)="modal.open(Addtemplate,'modal-lg')"> 
                        <i class="fa fa-plus px-3"></i> اضافة اجازة زمنية
                    </button>
                </div>
            </div>

        </form>

    </div>
</div>
<div class="card my-0 border-0 mx-10">
    <div class="card-body">
        <div class="row" *ngIf="isLoading == true">
            <div class="col-md-12 text-center">
                <div class="fa-4x">
                    <i class="fa fa-spinner fa-pulse"></i>
                </div>
            </div>
        </div>

        <div *ngIf="records.length">
            <table id="recordstable" datatable  [dtOptions]="this.dtOptions" class="table  border-dark border-top table-bordered  table-striped row-border w-100 p-0 m-0">
                <thead >
                <tr>
                    <th>#</th>
                    <th>التاريخ</th>
                    <th>من ألساعة</th>
                    <th>ألى ألساعه</th>
                    <th>الزمن الكلي</th>
                    <th>حذف</th>
                </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of records;let i=index;">
                        <td>{{i+1}}</td>
                        <td>{{item.TimeOffDate}}</td>
                        <td>{{item.TimeOffOut}}</td>
                        <td >{{item.TimeOffIn}}</td>
                        <td >{{item.TimeOffTotal}}</td>    
                        <td class="text-center">
                            <button class="btn  text-danger text-center shadow-on-hover-1" (click)="modal.open(template,'modal-md');SelectedItem=item;" title="حذف الاجازة">
                                <i class="fa fa-trash fa-lg"></i>
                            </button>
                        </td>            
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">حذف الاجازة الزمنية  - {{SelectedItem.TimeOffDate}}</h4>
        <button type="button" class="btn close pull-right font-size-20" aria-label="Close" (click)="modal.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body text-center just">
        <p>هل انت متاكد من اتمام عملية الحذف؟</p>
        <div class="d-flex d-inline-flex justify-content-between w-100">
            <button type="button" class="btn btn-secondary float-left w-40" (click)="modal.hide()">
                الغاء
            </button>
            <button type="button" class="btn btn-danger float-right w-40" (click)="delete(SelectedItem.id)">
                حذف
            </button>
        </div>
    </div>
</ng-template>

<ng-template #Addtemplate>
    <div class="modal-header">
        <h4 class="modal-title pull-left">   اجازة زمنية جديده  -  {{Employee.name}} </h4>
        <button type="button" class="btn close pull-right font-size-20" aria-label="Close" (click)="modal.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body ">
        <div class="row px-5 mx-0">
            <div class="col-md-4">
                <app-datepicker
                    [input]="period.end"
                    [name]="'startDate'" 
                    [label]="'ألتاريخ'" 
                    (dateChange)="period.end=$event">
                </app-datepicker>
            </div>
            <div class="col-md-4">
                <label for="starttime" class="form-label">من الساعه :</label>
                <input type="time" class="form-control" name="starttime" [(ngModel)]="TimePeriod.starttime" id="starttime" (change)="startTimeChange();" min="09:00" max="14:00" required />
            </div>
            <div class="col-md-4">
                <label for="endtime" class="form-label">ألى ألساعه :</label>
                <input type="time" class="form-control" name="endtime" [(ngModel)]="TimePeriod.endtime" id="endtime"  (change)="endTimeChange();" required min="09:00" max="14:00" />
            </div>
        </div>
        <div class="row px-5 mx-0 py-8">
            <div class="col-md-4 ">
                <button type="button" class="btn btn-success btn-block w-100" (click)="AddTimeOff();">
                    اضافة
                 </button>     
            </div>
            <div class="col-md-4 offset-4">
                <button type="button" class="btn btn-secondary btn-block w-100" (click)="modal.hide()">
                    الغاء
                </button>
            </div>
        </div>
    </div>
</ng-template>