@import './assets/css/scss/theme.scss';
table{
  width: 100% !important;
}

.form-control{
  background: none !important;
  height: 35px !important;
}

button{
  max-height: 36px !important;
  line-height: 36px;
  padding-bottom: 10px !important;
  padding-top: 5px !important;
  
}
